.hero-container {
  /* height: 85vh; */
  gap: 120px;
  padding: 140px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #12100e;
  text-align: center;
  /* border: 1px solid white; */
}


.pizza-img img{
    height:10rem;
}

.hero-title {
  font-size: 5rem;
  font-weight: 900;
  background: linear-gradient(90deg, #ff4d00, #ffae42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  color: #a0a0a0;
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 1.5rem 0 2.5rem 0;
}

.hero-buttons {
  
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn-primary {
 transition: transform 0.2s ease;
  background: linear-gradient(45deg, #f05023, #ffa033);
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-secondary {
  transition: transform 0.2s ease;
  background-color: #1a1a1a;
  color: white;
  padding: 0.8rem 2.5rem;
  border-radius: 8px;
  border: 1px solid #333;
  font-weight: 500;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #252525;
}

.btn-primary:hover , .btn-secondary:hover{
  transform: scale(1.1);
}

.clock-icon{
  height: 70px ;
  width: 70px;
}

.why-section{
  margin: 50px 0px;
  /* border: 1px solid white; */
  padding: 0px 140px;
  display: flex;
  gap: 22px;
}


.why-box{
  background-color: #1a1a1a;
  padding: 35px 20px;
  /* border: 1px solid white; */
  border-radius: 18px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}


.why-details-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.why-details-container h5{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.897);
}
.why-details-container p{
  color: #a0a0a0;
  font-size: 14px;
}

.why-heading{
  font-size: 32px;
  color: #ff5f2e;
}

.ready-order-section{
  /* border: 1px solid white; */
  padding: 0px 40px;
  
}

.ready-order-section div{
  padding: 60px 60px;
  /* border: 1px solid white; */
  border-radius: 20px;
  background-color: #1a1a1a;
}

.ready-order-section div h3{
  color: #ff5f2e;
  font-size: 30px;
}

.ready-order-section div p{
  margin: 10px 0px ;
  font-size: 16px;
  color: #a0a0a0;
}

.ready-order-section button{
  margin-top: 10px;
  padding: 14px 14px;
  font-weight: 800;
  border-radius: 12px;
  font-size: 16px;
  background-color: #f24a0d;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.cook-img{
  height: 25rem;
  width:auto
}